@import "../../bootsrtap-grid/bootstrap-grid";

@mixin button {
    text-align: center;
    text-transform: uppercase;
}

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.3s all;
}

#top-search {
    border: none;
}

label {
    display:none;
}

.subscribe-button {
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    min-height: 2rem;
    @include button
}

.header-line {
    background-color: #e9e9e9;
    height: 1px;
    border: 0;
    margin-bottom: 3px;
}

#nav-top {
    min-height: 4rem;
}

#eclipse {
    background: url(../images/image.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -4rem;
    min-height: 40rem;
}


// #black-layer {
//     background-color: black;
//     opacity: 0.7;
// }

.white-font {
    color: white;
}

// for tests
#header {
    // background-color: gray;
    width: 100% !important;
}
// end tests

