@import "../../bootsrtap-grid/bootstrap-grid";

$lettSpace: 3px;

@mixin button ($lettSpace){
    text-transform: uppercase;
    font-weight: bold;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    cursor: pointer;
    letter-spacing: $lettSpace;
}

* {
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.3s all;
}

a:visited {
    text-decoration: none;
}

label {
    display:none;
}

.absolute {
    position: absolute;
}

.yellow-button {
    @include button (0px);
    background-color: rgb(255, 201, 8);
}

.triangle-tr {
    border: 1rem solid transparent;	
    border-top: 1rem solid red; 
    border-right: 1rem solid red;
}

.triangle-br {
    border: 1rem solid transparent;	
    border-bottom: 1rem solid red; 
    border-right: 1rem solid red;
}

.triangle-bl {
    border: 1rem solid transparent;	
    border-bottom: 1rem solid red; 
    border-left: 1rem solid red;
}

.white-font {
    color: white
}

.helvetica {
    font-family: 'Open Sans'
}

.miryad {
    font-family: 'PT Sans'
}

.bank-gothic {
    font-family: 'Aldrich'
}

.zurich {
    font-family: 'Montserrat'
}



// HEADER
.fa-search {
    right: 12%;
    top: .7rem;
    color: rgb(87, 92, 92);
    cursor: pointer;
}

#top-search {
    border: 2px solid white;
    font-family: "Merriweather";
    color: rgb(168, 174, 174); 
    font-style: italic;
    border-radius: 20px;
    width: 100%;
    padding: 0.5rem 1.5rem;
}

#top-search:hover {
    border-color: black;
    outline: 0;
}

#top-search:active {
    outline: 0;
}

#top-search:focus {
    outline: 0;
    border-color: rgb(168, 174, 174); 
}

.subscribe-button {
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    min-height: 2rem;
    font-family: "Dosis";
    color: rgb(36, 41, 41);  
    @include button (3px)
}

.subscribe-button:hover {
    color: black;
    font-weight: bolder;
    border: 3px solid black;
}

.subscribe-button:active {
    color: white;
    background-color: rgb(100, 107, 107);
}

.connection {
    color: rgb(87, 92, 92);
}

.connection:hover {
    font-weight: bolder;
    color: rgb(255, 201, 8);
}

.nav-top-link {
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
    font-family: 'Open sans';
}

.nav-top-link:visited {
    text-decoration: none;
}

.nav-top-link:hover {
    color: rgb(255, 201, 8);
}

.header-line {
    background-color: #e9e9e9;
    height: 1px;
    border: 0;
    margin-bottom: 3px;
}

#nav-top {
    min-height: 4rem;
}


// MAIN
#eclipse {
    background: url(../images/image.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -4rem;
    min-height: 40rem;
}

.angle-button {
    background-color: black;
    border: 2px solid white;
    color: white;
    width: 4rem;
    height: 4rem;
}

.angle-button:hover {
    background-color: rgb(226, 23, 18);
    border:  rgb(226, 23, 18);
}

.angle-button:active {
    background-color: white;
    border:  rgb(226, 23, 18);
    color: rgb(226, 23, 18);

}

#map {
    height: 28rem; 
    width: 100%;  
   }

// for tests



// end tests

